{% extends "main/base.html" %} {% load static %} {% block content %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'main/img/3.png' %}" class="sec_one">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link"  href="#">TOKENOMICS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GAMEVERSE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="#">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONNECT WALLET</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
    
</header>
<section class="section_one">
    <div class="out_div_one">
        <div class="in_div_one">
            <img src="{% static 'main/img/3.png' %}" class="sec_one_img1">
            <div class="sec_one_pdiv">
                <p class="sec_one_p">NO1 ADVENTURE GAME <br> THAT PAY TO PLAY</p>
            </div>
            <img src="{% static 'main/img/4.png' %}" class="sec_one_img2">
        </div>
    </div>
    <img src="{% static 'main/img/2.png' %}"  class="sec_one_img3">
</section>
<section class="section_two">
    <div class="row r_ow">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <p class="sec_two_p1">100,000</p>
            <p class="sec_two_p2">PLAYER CAP</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <p class="sec_two_p1">$0</p>
            <p class="sec_two_p2">STARTING FEE</p>
        </div>
        <div class="col-lg-4  col-sm-12">
            <p class="sec_two_p1">$9M</p>
            <p class="sec_two_p2">LOOT/M</p>
        </div>
    </div>
</section>
<section class="section_three">
    <h1 class="sec_three_h1">MULTIPLE WAYS TO <br> EARN A $LOOT</h1>
    <div class="row r_ow1">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="black_div">
                <p class="one_txt">COLLECTING BOXES</p>
                <img class="rounded mx-auto d-block sec_three_img" 
                src="{% static 'main/img/box.png' %}" alt="box">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="black_div">
                <p class="one_txt">REFERRING USERS</p>
                <img class="rounded mx-auto d-block sec_three_img" 
                src="{% static 'main/img/5.png' %}" alt="referral">
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="black_div">
                <p class="one_txt">LOOTING TREASURE</p>
                <img class="rounded mx-auto d-block sec_three_img" 
                src="{% static 'main/img/6.png' %}" alt="coin box">
            </div>
        </div>
    </div>
</section>
<section class="section_four">
    <h2 class="sec_three_h2">FIRST GAME BASED ON PROOF OF EFFORT</h2>
    <p class="sec_four_p">
        Goblin Hunter allows you to mint out your coins 
        from the game based <br class="hid"> on your rank. Increase your 
        rank either buying loot or referring users.
    </p>
    <div class="for_later"></div>
    <p class="sec_four_p">
        All ranked players will get airdropped the goblin 3D NFT FREE
    </p>
</section>
<section class="section_fives">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="sec_five_in">
                <p class="sec_five_inp">
                    “The high cost entry barrier in most 
                    P2E games is nonexistent here. Finally, 
                    a goblin after my heart!”
                    <br>
                    <span class="sec_five_signed">
                        -@0X..b34de
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="sec_five_in">
                <p class="sec_five_inp">
                    “There are so many ays to earn 
                    from the game. I can play to my 
                    strengths and still take home a bag!”
                    <br>
                    <span class="sec_five_signed">
                        -@0X..cad19
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="sec_five_in">
                <p class="sec_five_inp">
                    “The high cost entry barrier in most 
                    P2E games is nonexistent here. Finally, 
                    a goblin after my heart!”
                    <br>
                    <span class="sec_five_signed">
                        -@0X..b34de
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="sec_five_in">
                <p class="sec_five_inp">
                    “There are so many ays to earn 
                    from the game. I can play to my 
                    strengths and still take home a bag!”
                    <br>
                    <span class="sec_five_signed">
                        -@0X..cad19
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section_five">
    <div class="row">
        <div class="col-lg-6 col-md-6  col-xs-12">
            <div class="sec_five_in">
                <p class="sec_five_inp">
                    “The high cost entry barrier in most 
                    P2E games is nonexistent here. Finally, 
                    a goblin after my heart!”
                    <br>
                    <span class="sec_five_signed">
                        -@0X..b34de
                    </span>
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 sec_five_img_div">
            <img class="rounded mx-auto d-block sec_five_img" 
                src="{% static 'main/img/8.png' %}" alt="woman orge">
        </div>
    </div>
</section>
<section class="section_six">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 sec_six_img_div">
            <img class="rounded mx-auto d-block sec_six_img" 
                src="{% static 'main/img/10.png' %}" alt="man orge">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="sec_six_in">
                <p class="sec_six_inp">
                    “There are so many ays to earn 
                    from the game. I can play to my 
                    strengths and still take home a bag!”
                    <br>
                    <span class="sec_six_signed">
                        -@0X..cad19
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section_seven">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="sec_seven_in">
                <p class="sec_seven_inp">
                    “An exciting adventure that gets 
                    tougher with each stage. I can't stop playing!”
                    <br>
                    <span class="sec_seven_signed">
                        -@0X..g3b7a
                    </span>
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 sec_seven_img_div">
            <img class="rounded mx-auto d-block sec_seven_img" 
                src="{% static 'main/img/12.png' %}" alt="queen orge">
        </div>
    </div>
</section>
<section class="section_eight">
    <h2 class="sec_eight_h2">ENTER IF YOU DARE</h2>
    <img src="{% static 'main/img/4.png' %}" class="sec_one_img2">
</section>
<!-- <section class="foot">
    foot
</section> -->
{% endblock content %}


dashboard 
{% extends "main/admin_base.html" %} {% load static %} {% block content %}
<div class="d_body">
    <header>
        <img src="{% static 'main/img/man.png' %}" class="head_img" alt="Goblin Hunter">
        <p class=" img_div">
            <a href="{% url 'game' %}" class="img_txt">PLAY</a>
        </p>
        <p class="m-auto user" >{{ user.username|upper }}</p>
    </header>
    <main>
        <div class='section_one'>
            <div class="outer_div_one">
                <div class="inner_div_one">
                    <div class="row r_ow">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <img class="rounded mx-auto d-block col_1" src="{% static 'main/img/box.png' %}" alt="box">
                            <p class="one_txt">145</p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <img class="rounded mx-auto d-block col_1" src="{% static 'main/img/coins.png' %}" alt="coins">
                            <p class="one_txt">234.65</p>
                        </div>
                        <div class="col-lg-4  col-sm-12">
                            <img class="rounded mx-auto d-block col_1" src="{% static 'main/img/people.png' %}" alt="referral">
                            <p class="one_txt">32</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='section_two'>
            <div class="outer_div_two">
                <div class="inner_div_two">
                    <a href="{% url 'logout_view' %}" class="logout">LOGOUT</a>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}