{% extends "main/base.html" %} {% load static %} {% block content %}
<section class="section_one">
    <div class="out_div_one">
        <div class="in_div_one">
            <img src="{% static 'main/img/3.png' %}" class="sec_one_img1">
            <div class="sec_one_pdiv">
                <p class="sec_one_p">NO1 ADVENTURE GAME <br> THAT PAY TO PLAY</p>
            </div>
            <img src="{% static 'main/img/4.png' %}" class="sec_one_img2">
        </div>
    </div>
    <img src="{% static 'main/img/2.png' %}"  class="sec_one_img3">
</section>
<section class="section_two">
    <div class="row r_ow">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <p class="sec_two_p1">100,000</p>
            <p class="sec_two_p2">PLAYER CAP</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <p class="sec_two_p1">$0</p>
            <p class="sec_two_p2">STARTING FEE</p>
        </div>
        <div class="col-lg-4  col-sm-12">
            <p class="sec_two_p1">$9M</p>
            <p class="sec_two_p2">LOOT/M</p>
        </div>
    </div>
</section>
<section class="section_three">
    <h1 class="sec_three_h1">MULTIPLE WAYS TO <br> EARN A $LOOT</h1>
    <div class="row r_ow1">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="black_div">
                <p class="one_txt">COLLECTING BOXES</p>
                <img class="rounded mx-auto d-block sec_three_img" 
                src="{% static 'main/img/box.png' %}" alt="box">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="black_div">
                <p class="one_txt">REFERRING USERS</p>
                <img class="rounded mx-auto d-block sec_three_img" 
                src="{% static 'main/img/5.png' %}" alt="referral">
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="black_div">
                <p class="one_txt">LOOTING TREASURE</p>
                <img class="rounded mx-auto d-block sec_three_img" 
                src="{% static 'main/img/6.png' %}" alt="coin box">
            </div>
        </div>
    </div>
</section>
<section class="section_four">
    <h2 class="sec_three_h2">FIRST GAME BASED ON PROOF OF EFFORT</h2>
    <p class="sec_four_p">
        Goblin Hunter allows you to mint out your coins 
        from the game based <br class="hid"> on your rank. Increase your 
        rank either buying loot or referring users.
    </p>
    <div class="for_later"></div>
    <p class="sec_four_p">
        All ranked players will get airdropped the goblin 3D NFT FREE
    </p>
</section>
<section class="section_fives">
    <div class="row">
        <div class="col-md-6 col-xs-12 col_five_1">
            <div class="sec_five_in">
                <p class="sec_five_inp">
                    “The high cost entry barrier in most 
                    P2E games is nonexistent here. Finally, 
                    a goblin after my heart!”
                    <br>
                    <span class="sec_five_signed">
                        -@0X..b34de
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col_five_2">
            <div class="sec_five_in">
                <p class="sec_five_inp">
                    “There are so many ays to earn 
                    from the game. I can play to my 
                    strengths and still take home a bag!”
                    <br>
                    <span class="sec_five_signed">
                        -@0X..cad19
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12 col_five_3">
            <div class="sec_five_in">
                <p class="sec_five_inp">
                    “An exciting adventure that gets 
                    tougher with each stage. I can't stop playing!”
                    <br>
                    <span class="sec_five_signed">
                        -@0X..g3b7a
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col_five_4">
            <div class="sec_five_in">
                <p class="sec_five_inp">
                    “Glad I got in early cos WAGMI!”
                    <br>
                    <span class="sec_five_signed">
                        -@0X..56fg1
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section_eight">
    <h2 class="sec_eight_h2">ENTER IF YOU DARE</h2>
    <img src="{% static 'main/img/4.png' %}" class="sec_one_img2">
</section>
<!-- <section class="foot">
    foot
</section> -->
{% endblock content %}